<!DOCTYPE html>
{% include "top.html" %}
<div class="title">Составители</div>
<div class="main">
  <p><b>Рыжикова Т. Р.</b> – составление анкет для сбора фонетического материала по барабинскому, чатскому языкам; сбор языкового материала в местах компактного проживания носителей барабинского и чатского языков; постобработка, анализ и интерпретация собранного материала в лабораторных условиях; разработка критериев аннотирования записанных высказываний; аннотирование аудиофайлов по барабинскому языку в программе Praat; перевод, анализ и интерпретация полученных данных.</p>
  <p><b>Добрынина А. А.</b> – составление анкет для сбора фонетического материала по кумандинскому и телеутскому языкам; сбор языкового материала в местах компактного проживания носителей кумандинского и телеутского языков; постобработка, анализ и интерпретация собранного материала в лабораторных условиях; разработка критериев аннотирования записанных высказываний; аннотирование аудиофайлов в программе Праат; перевод, анализ и интерпретация полученных данных.</p>
  <p><b>Шиндрова К. В.</b> – составление анкет для сбора фонетического материала по языку плотдич; сбор языкового материала в местах компактного проживания носителей плотдич; постобработка, анализ и интерпретация собранного материала в лабораторных условиях; разработка критериев аннотирования записанных высказываний; аннотирование аудиофайлов в программе Праат; перевод, анализ и интерпретация полученных данных.</p>
  <p><b>Григорьева А. С.</b> – сбор языкового материала в местах компактного проживания носителей плотдич; постобработка, анализ и интерпретация собранного материала в лабораторных условиях; перевод, анализ и интерпретация полученных данных; дизайнерская работа.</p>
  <p><b>Якимец Н. В.</b> – составление анкет для сбора фонетического материала по барабинскому, чатскому языкам; сбор языкового материала в местах компактного проживания носителей барабинского и чатского языков; постобработка, анализ и интерпретация собранного материала в лабораторных условиях; разработка критериев аннотирования записанных высказываний; аннотирование аудиофайлов по чатскому языку в программе Праат; перевод, анализ и интерпретация полученных данных.</p>
  <p><b>Манаков Ю. А.</b> – разработка структуры базы данных и интерфейса для взаимодействия с ней; выработаны критерии структурирования и поиска интонационной базы данных; разработка системы автоматической интонационной разметки.</p>
</div>
<div class="image">
  <figure>
    <img src="/static/authors.jpg" width="50%">
    <figcaption>Составители корпуса</figcaption>
  </figure>
</div>
</body>
</html>