<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
{% include "top.html" %}
<div class="title">Контакты</div>
<div class="main">
    <p><b>По содержательным вопросам</b><br>
    Рыжикова Татьяна Раисовна<br>
    (383) 330–15–18
    ryzhikova_tr@philology.nsc.ru<br></p>
    <p><b>По техническим вопросам</b><br>
    Манаков Юрий Андреевич<br>
    y.manakov@g.nsu.ru</p>
</div>
</body>
</html>