<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
{% include "top.html" %}
<div class="title">Плотдич</div>
<div class="main">
    <p><b>Название и самоназвание языка и этноса:</b> плотдич, Plautdietsch, Plattdeutsch, немцы-меннониты, меннониты </p>
    <p><b>Численность носителей.</b> На территории России проживает, предположительно, от 1 до 5 тыс. носителей языка плотдич. Согласно результатам Всероссийской переписи населения 2021 года, в России проживает 195 256 немцев, среди которых есть и меннониты. </p>
    <p><b>Места проживания носителей / территория распространения языка.</b> Говорящие на плотдич проживают по всему миру: Канада, страны Южной Америки (Белиз, Парагвай, Мехико), Европа, Казахстан, Россия. В Сибири это населенные пункты, традиционно считающиеся немецкими: в Омской области (Солнцевка, Миролюбовка, Аполлоновка, село Южно-Подольск), в Алтайском крае (Протасово, Полевое, Кусак, Шумановка), в Новосибирской области (д. Неудачино).</p>
    <p><b>Вероисповедание носителей языка.</b> Носители языка плотдич - последователи одной из протестантских церквей, близких к анабаптизму. Меннониты проповедуют пацифизм.</p>
    <p><b>Статус.</b> Бесписьменный, находящийся под угрозой исчезновения.</p>
</div>
</body>
</html>