<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
{% include "top.html" %}
<div class="title">Телеутский язык</div>
<div class="main">
    <p><b>Телеутский язык</b> – язык немногочисленного тюркоязычного этноса телеутов (тадар кижи, телеңит ~ телеңет ~ телеңут ~ телеут кижи). Самая многочисленная группа телеутов в настоящее время компактно проживает в Беловском районе Кемеровской области, по рекам Большой и Малый Бачат (пп. Челухоево, Беково, Верховская, Шанда, Улус). В научной литературе данная группа известна под названием «бачатские телеуты» (см. наз.: пайат кижи). Небольшая по численности группа телеутов проживает совместно с шорцами в п. Телеуты Заводского района г. Новокузнецка Кемеровской области. В настоящее время на территории Республики Алтай и Алтайского края сколько-нибудь значительных групп телеутов нет. Название «телеутский язык» традиционно относится к языку, на котором говорят телеуты проживающие на территории Кемеровской области по рекам Большой и Малый Бачат.</p>
    <p>Телеутский язык относят к киргизско-кыпчакской группе восточнохуннской ветви тюркских языков.</p>
    <p>В 1993 г. северные алтайцы – кумандинцы, чалканцы, тубалары, а также одна из южных этнических групп – телеуты внесены в Перечень коренных малочисленных народов РФ, их диалекты получили статус самостоятельных языков [Основы законодательства … 1993; Красная книга … 1994: 5],</p>
    <p>Лингвистическая характеристика телеутского языка по морфологическому типу относится к языкам с правосторонней агглютинацией. В телеутском языке 16 гласных фонем: 8 кратких (и, ÿ, ы, у, э (е), ö, а, о) и 8 долгих (ии, ÿÿ, ыы, уу, ээ (ее), öö, аа, оо), 18 согласных фонем – п, п:, м, т, т:, с, с:, ш, ш:, н, р, л, j (ть), й, ч, к, к:, ң. В начальной и конечной позициях звонкие согласные не употребляются, кроме того в начальной позиции не встречается звук ң. В ограниченном количестве телеутских слов в начальной позиции отмечаются звуки л, р. Для телеутского языка характерна палатальная и губная гармонии. Палатальная гармония распространяется как на гласные, так и на согласные в составе словоформы. Структура слога – VC, CV(C), VCC, CVCC, CCVC. Любое слово, начинающееся с гласного, имеет гортанный приступ.</p>
    <p>В телеутском языке выделяют следующие грамматические разряды слов: имена, глаголы, служебные части речи. В системе имен в телеутском языке присутствуют категории: числа, падежа, принадлежности и лица. В системе глаголов имеются формы залогов, категории вида, лица, числа, наклонения.</p>
    <p>Типичный порядок слов в предложении – SOV. </p>
    <p>Телеутский язык вместе с языком алтай-кижи (собственно алтайцев) был положен в основу алтайской письменности, впервые установленной в 40-х гг. XIX в. представителями Алтайской духовной миссии – Н.И. Ильминским, В.И. Вербицким, С. Ландышевым, М. Глухарёвым-Невским (на базе кириллицы). Современная письменность телеутского языка основана на кириллице с добавлением дополнительных графем для обозначения специфических звуков.</p>
    <p>Изданы: Телеутско-русский словарь (Телеут-орус сöзлик) [1995], Телеутский букварь (Телеут тилиниң буквари) [2004], Русско-телеутский разговорник (Орус-телеут эрмектери) [2005], Телеутский язык в картинках [2005]. Учителями-энтузиастами по личным методическим разработкам ведётся преподавание телеутского языка в начальных и средних классах в Средней общеобразовательной Бековской школе села Беково Кемеровской области. На сегодняшний день телеутский язык в основном используется лишь в узком семейном кругу и при проведении этнических праздников.</p>
    <p><b>Литература</b></p>
    <p>Вербицкий В.И. Словарь алтайского и аладагского наречий тюркского языка. Казань, 1884.</p>
    <p>Гаврилин Н.В. Система гласных фонем в языке бачатских телеутов (по экспериментальным данным). Автореф. дис. ... канд. филол. наук. – Алма-Ата, 1987.</p>
    <p>Грамматика алтайского языка, составленная членами Алтайской духовной миссии. Казань, 1869.</p>
    <p>Курпешко-Таннагашева Н.Н. Телеут тилиниң буквари. Кемерово, 2004;</p>
    <p>Кушакова М.Н. Пуу jарықта мен jатқам полғом. Новосибирск, 2001.</p>
    <p>Меркурьев К.В. Бачатско-телеутский консонантизм. Автореф. дис. … канд. филол. наук. Новосибирск, 1975.</p>
    <p>Рюмина-Сыркашева Л.Т., Кучигашева Н.А. Телеут-орус сöзлик: Телеутско-русский словарь. Кемерово, 1995.</p>
    <p>Рюмина-Сыркашева Л. Т. Телеутский словарь антонимов, омонимов, палиндромов, синонимов. Кемерово, 2003.</p>
    <p>Рюмина-Сыркашева Л.Т., Тушманакова Е.Н., Кочубеева М.Ф. Телеутский язык в картинках. Кемерово, 2005.</p>
    <p>Токмашев М.Г., Токмашев Д.М. Русско-телеутский разговорник: Орус-телеут эрмектери. Новокузнецк, 2005.</p>
    <p>Уртегешев Н.С. Телеутский язык // Язык и общество. Энциклопедия. – М.: Издательский центр «Азбуковник», 2016.</p>
    <p>Уртегешев Н.С. Телеутский язык. // Историческая энциклопедия Сибири.</p>
    <p>Новосибирск: Издательство «Историческое Наследие Сибири», 2009. T. III. С. 248.</p>
    <p>Фисакова Г.Г. Долгие гласные в языке бачатских телеутов // Фонетика языков Сибири и сопредельных регионов. – Новосибирск, 1986, с. 27–31.</p>
    <p>Фисакова Г.Г. Состав гласных фонем в языке бачатских телеутов // Исследования звуковых систем языков Сибири. – Новосибирск, 1984, с. 30–34.</p>
    <p>Чиспияков Э.Ф. К истории языков народов Алтая и прилегающих к нему районов. Новосибирск, 2006.</p>
    <p>Чиспияков Э.Ф. Язык, история, культура тюрков Южной Сибири. Кемерово, 2004.</p>
    <p>Шестера Е.А. Интонация телеутского языка в сравнении с интонацией теленгитского диалекта алтайского языка (на материале простых повествовательных предложений) \\ Материалы VI всероссийской научно-практической конференции с международным участием «Профессионально-компетентная личность в мировом образовательном пространстве». Новосибирск: Сибмедиздат НГМУ, 2012. С. 231–235.</p>
    <p>Radloff W.W. Vergleichende Grammatik der nördlichen Türsprachen. T. I. Phonetik der nördlichen Türsprachen. Leipzig, 1882.</p>
</div>
</body>
</html>