<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
{% include "top.html" %}
  <div class="title">Главная</div>
  <div class="main">
    <div class="text">
      <p>Работа выполнена в рамках регионального конкурса РНФ 2024 года «Проведение фундаментальных научных исследований и поисковых научных исследований малыми отдельными научными группами» по Проекту № 24-28-20231 “Диалог в полиэтническом обществе как отражение языковой картины мира миноритарных этносов Новосибирской области” (руководитель Добрынина А.А.).</p>
      <p>Цель проекта – выявление интонационных особенностей спонтанной диалогической речи коренных и переселенческих народов Новосибирской области – барабинцев, чатов и немцев-меннонитов – в сопоставлении с интонацией миноритарных народов сопредельных регионов (телеутов – Кемеровская область, кумандинцев – Алтайский край и Республика Алтай).</p>
      <p>Основной задачей проекта является фиксация, документация, анализ и интерпретация звучащего языкового материала по заявленным языкам.</p>
      <p>База данных состоит из диалогов и более 1000 расшифрованных, проаннотированных в программе Praat диалогических высказываний по языкам барабинцев, чатов, телеутов, кумандинцев, немцев-меннонитов.</p>
      <p>Данная интонационная база данных по бесписьменным языкам народов Сибири позволит специалистам и носителям этих языков получить представление о суперсегментных особенностях исследованных идиомов.</p>
    </div>
    <img class="image" style="width: 75%;" src="/static/images/чаты_8.jpg">
  </div>
  </div>
</body>
</html>