<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
{% include "top.html" %}
  <div class="title">Главная</div>
  <div class="main">
    <p>Работа выполнена в рамках регионального конкурса РНФ 2024 года «Проведение фундаментальных научных исследований и поисковых научных исследований малыми отдельными научными группами» по Проекту № 24-28-20231 “Диалог в полиэтническом обществе как отражение языковой картины мира миноритарных этносов Новосибирской области” (руководитель Добрынина А.А.).</p>
    <p>Цель проекта – выявление интонационных особенностей спонтанной диалогической речи коренных и переселенческих народов Новосибирской области – барабинцев, чатов и немцев-меннонитов – в сопоставлении с интонацией миноритарных народов сопредельных регионов (телеутов – Кемеровская область, кумандинцев – Алтайский край и Республика Алтай).</p>
    <p>Основной задачей проекта является фиксация, документация, анализ и интерпретация звучащего языкового материала по заявленным языкам.</p>
    <p>База данных состоит из диалогов и более 1000 расшифрованных, проаннотированных в программе Praat диалогических высказываний по языкам барабинцев, чатов, телеутов, кумандинцев, немцев-меннонитов.</p>
    <p>Данная интонационная база данных по бесписьменным языкам народов Сибири позволит специалистам и носителям этих языков получить представление о суперсегментных особенностях исследованных идиомов.</p>
  </div>
<div align="center" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/image5.jpg" class="d-block w-25">
    </div>
    <div class="carousel-item">
      <img src="/static/image6.jpg" class="d-block w-25">
    </div>
    <div class="carousel-item">
      <img src="/static/image7.jpg" class="d-block w-25">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</body>
</html>